### Pandas
- Pandas kütüphanesi veri analizi için kullanılan bir kütüphanedir.
- Panel data'dan gelmektedir.
- Yapısal verilerle çalışmak için kullanılır.
- Veri manipülasyonu ve analizi için yazılmış açık kaynaklı bir Python kütüphanesidir.
- Ekonometrik ve Finansal verilerle çalışmak için kullanılır.
- 2008 yılında Wes McKinney tarafından geliştirilmiştir.

pip install pandas komutu ile pandas kütüphanesini kurabiliriz.

### Pandas Serisi Oluşturma
pd.Series() ile pandas serisi oluşturabiliriz.

In [4]:
import pandas as pd
import numpy as np

seri = pd.Series([1,2,3,4,5,6,7,8,9]) #S harfi büyük olmalı yoksa hata alıyoruz.

In [5]:
print(seri)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

.axes ile serinin başlangıç, bitiş ve adım deerlerini görebiliriz.

In [6]:
print(seri.axes)

[RangeIndex(start=0, stop=9, step=1)]

In [7]:
print(seri.dtype)

int64

- .size ile serinin boyutunu görebiliriz.
- .ndim ile serinin boyut sayısını görebiliriz.
- .values ile serinin değerini görebiliriz.

In [9]:
print(seri.size)
print(seri.ndim)
print(seri.values)

9
1
[1 2 3 4 5 6 7 8 9]

- .head() ile serinin ilk 5 değerini görebiliriz. Eğer isterseniz .head(10) diyerek ilk 10 değeri görebiliriz.

In [10]:
seri.head() #Herhangi değer girmezsek ilk 5i yazdırır.

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
print(seri.head(3))

0    1
1    2
2    3
dtype: int64

- tail() ile serinin son 5 değerini görebiliriz. Eğer isterseniz .tail(10) diyerek son 10 değeri görebilirsiniz.

In [13]:
seri.tail()

4    5
5    6
6    7
7    8
8    9
dtype: int64

In [21]:
seri = pd.Series([99,22,332,94,5], index=["a", "b", "c", "d", "e"]) #Eğerki harf vermez isek direkt 0,1,2,3 diyerek numaralandırıyor.
print(seri)

a     99
b     22
c    332
d     94
e      5
dtype: int64

In [20]:
print(seri["a"])

99

In [22]:
print(seri["a" : "c"]) #Tırnak içerisinde yazmak zorundayız.

a     99
b     22
c    332
dtype: int64

In [24]:
sozluk = {"rog" : 10, "log" : 11, "cart" : 12}
seri = pd.Series(sozluk)
print(seri)   #Sözlük yapılarında bu tür bir çözüm yapılıyor.

rog     10
log     11
cart    12
dtype: int64

In [36]:
#Numpy ile kullanım 
randomNumbers = np.random.randint(10,100,5)
pandas = pd.Series(randomNumbers)
print(pandas[0])   #0.Elemanı yazdır demek istedik.
print(pandas)   #Random dediğimiz için her çalıştırmada farklı bir şey yazdırır.

52
0    52
1    26
2    86
3    52
4    32
dtype: int32

In [39]:
seri = pd.Series([200,121,150,99], index = ["a", "b", "c", "d"])
print(seri)

a    200
b    121
c    150
d     99
dtype: int64

In [41]:
seri.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [42]:
seri.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [43]:
print(list(seri.items()))

[('a', 200), ('b', 121), ('c', 150), ('d', 99)]

In [45]:
"a" in seri

False

In [46]:
"g" in seri

False

In [47]:
seri[["a","b"]]

a    200
b    121
dtype: int64

In [48]:
seri["a"] = 250
print(seri)

a    250
b    121
c    150
d     99
dtype: int64

### Pandas Dataframe Oluşturma
**pd.Dataframe()**
- DataFrame oluşturabiliriz.
- columns parametresi ile kolon isimlerini belirleyebiliriz.
- index parametresi ile index isimlerini belirleyebiliriz.

In [50]:
l = [1,2,3,4,5]
pd.DataFrame(l, columns = ["degisken_ismi"])

   degisken_ismi
0              1
1              2
2              3
3              4
4              5

In [52]:
m = np.arange(1,10).reshape((3,3))
pd.DataFrame(m, columns=["1","2","3"])

   1  2  3
0  1  2  3
1  4  5  6
2  7  8  9

In [53]:
df = pd.DataFrame(m, columns=["var1","var2","var3"])
df.head(2)

   var1  var2  var3
0     1     2     3
1     4     5     6

In [54]:
df.axes #start stop ve daha birçok bilgiyi veriyor.

[RangeIndex(start=0, stop=3, step=1),
 Index(['var1', 'var2', 'var3'], dtype='object')]

In [55]:
df.shape #Boyutunu verecek

(3, 3)

In [56]:
df.ndim

2

In [57]:
df.size

9

In [58]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [59]:
df.tail(1) #sondan elemanları görüyoruz.

   var1  var2  var3
2     7     8     9

### Eleman İşlemleri

In [4]:
import numpy as np
import pandas as pd
s1 = np.random.randint(10, size=5)
s2 = np.random.randint(10, size=5)
s3 = np.random.randint(10, size=5)

In [4]:
pd.DataFrame(s1,s2,s3) #5 boyutluya 3 boyut verdiğimiz için hata aldık

ValueError: Shape of passed values is (5, 1), indices imply (5, 5)

In [5]:
import pandas as pd
sozluk = {"var1" : s1, "var2" : s2, "var3" : s3}
df = pd.DataFrame(sozluk)

In [14]:
df

   var1  var2  var3
a     0     2     3
b     5     2     3
c     4     3     0
d     5     9     9
e     1     5     6

In [7]:
df[0:1]

   var1  var2  var3
0     0     2     3

In [7]:
df.index = ["a","b","c","d","e"]

In [16]:
df

   var1  var2  var3
a     0     2     3
b     5     2     3
c     4     3     0
d     5     9     9
e     1     5     6

In [17]:
df[0:1]

   var1  var2  var3
a     0     2     3

In [18]:
df["c":"e"]

   var1  var2  var3
c     4     3     0
d     5     9     9
e     1     5     6

- df.drop() ile kolon veya satır silme işlemi yapabiliriz.
- axis = 1 ile kolon silme işlemi yapabiliriz.
- axis = 0 ile satır silme işlemi yapabiliriz.

In [8]:
df.drop("a",axis=0)

   var1  var2  var3
b     5     1     8
c     7     8     3
d     8     4     5
e     7     9     2

In [9]:
df       #axis kullanmamız satırı veya sütunu kalıcı olarak silmez(Bir önceki kodda kullandığımız)

   var1  var2  var3
a     7     8     8
b     5     1     8
c     7     8     3
d     8     4     5
e     7     9     2

In [10]:
df.drop("a",axis=0,inplace=True)

In [11]:
df

   var1  var2  var3
b     5     1     8
c     7     8     3
d     8     4     5
e     7     9     2

In [12]:
l ={"var1","var2","var3"}
for i in l:
    print(i in l)

True
True
True