### Pandas
- Pandas kütüphanesi veri analizi için kullanılan bir kütüphanedir.
- Panel data'dan gelmektedir.
- Yapısal verilerle çalışmak için kullanılır.
- Veri manipülasyonu ve analizi için yazılmış açık kaynaklı bir Python kütüphanesidir.
- Ekonometrik ve Finansal verilerle çalışmak için kullanılır.
- 2008 yılında Wes McKinney tarafından geliştirilmiştir.

pip install pandas komutu ile pandas kütüphanesini kurabiliriz.

### Pandas Serisi Oluşturma
pd.Series() ile pandas serisi oluşturabiliriz.

In [10]:
import pandas as pd
import numpy as np

seri = pd.Series([1,2,3,4,5,6,7,8,9]) #S harfi büyük olmalı yoksa hata alıyoruz.

In [5]:
print(seri)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

.axes ile serinin başlangıç, bitiş ve adım deerlerini görebiliriz.

In [6]:
print(seri.axes)

[RangeIndex(start=0, stop=9, step=1)]

In [7]:
print(seri.dtype)

int64

- .size ile serinin boyutunu görebiliriz.
- .ndim ile serinin boyut sayısını görebiliriz.
- .values ile serinin değerini görebiliriz.

In [9]:
print(seri.size)
print(seri.ndim)
print(seri.values)

9
1
[1 2 3 4 5 6 7 8 9]

- .head() ile serinin ilk 5 değerini görebiliriz. Eğer isterseniz .head(10) diyerek ilk 10 değeri görebiliriz.

In [10]:
seri.head() #Herhangi değer girmezsek ilk 5i yazdırır.

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
print(seri.head(3))

0    1
1    2
2    3
dtype: int64

- tail() ile serinin son 5 değerini görebiliriz. Eğer isterseniz .tail(10) diyerek son 10 değeri görebilirsiniz.

In [13]:
seri.tail()

4    5
5    6
6    7
7    8
8    9
dtype: int64

In [21]:
seri = pd.Series([99,22,332,94,5], index=["a", "b", "c", "d", "e"]) #Eğerki harf vermez isek direkt 0,1,2,3 diyerek numaralandırıyor.
print(seri)

a     99
b     22
c    332
d     94
e      5
dtype: int64

In [20]:
print(seri["a"])

99

In [22]:
print(seri["a" : "c"]) #Tırnak içerisinde yazmak zorundayız.

a     99
b     22
c    332
dtype: int64

In [24]:
sozluk = {"rog" : 10, "log" : 11, "cart" : 12}
seri = pd.Series(sozluk)
print(seri)   #Sözlük yapılarında bu tür bir çözüm yapılıyor.

rog     10
log     11
cart    12
dtype: int64

In [36]:
#Numpy ile kullanım 
randomNumbers = np.random.randint(10,100,5)
pandas = pd.Series(randomNumbers)
print(pandas[0])   #0.Elemanı yazdır demek istedik.
print(pandas)   #Random dediğimiz için her çalıştırmada farklı bir şey yazdırır.

52
0    52
1    26
2    86
3    52
4    32
dtype: int32

In [39]:
seri = pd.Series([200,121,150,99], index = ["a", "b", "c", "d"])
print(seri)

a    200
b    121
c    150
d     99
dtype: int64

In [41]:
seri.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [42]:
seri.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [43]:
print(list(seri.items()))

[('a', 200), ('b', 121), ('c', 150), ('d', 99)]

In [45]:
"a" in seri

False

In [46]:
"g" in seri

False

In [47]:
seri[["a","b"]]

a    200
b    121
dtype: int64

In [48]:
seri["a"] = 250
print(seri)

a    250
b    121
c    150
d     99
dtype: int64

### Pandas Dataframe Oluşturma
**pd.Dataframe()**
- DataFrame oluşturabiliriz.
- columns parametresi ile kolon isimlerini belirleyebiliriz.
- index parametresi ile index isimlerini belirleyebiliriz.

In [50]:
l = [1,2,3,4,5]
pd.DataFrame(l, columns = ["degisken_ismi"])

   degisken_ismi
0              1
1              2
2              3
3              4
4              5

In [52]:
m = np.arange(1,10).reshape((3,3))
pd.DataFrame(m, columns=["1","2","3"])

   1  2  3
0  1  2  3
1  4  5  6
2  7  8  9

In [53]:
df = pd.DataFrame(m, columns=["var1","var2","var3"])
df.head(2)

   var1  var2  var3
0     1     2     3
1     4     5     6

In [54]:
df.axes #start stop ve daha birçok bilgiyi veriyor.

[RangeIndex(start=0, stop=3, step=1),
 Index(['var1', 'var2', 'var3'], dtype='object')]

In [55]:
df.shape #Boyutunu verecek

(3, 3)

In [56]:
df.ndim

2

In [57]:
df.size

9

In [58]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [59]:
df.tail(1) #sondan elemanları görüyoruz.

   var1  var2  var3
2     7     8     9

### Eleman İşlemleri

In [24]:
import numpy as np
import pandas as pd
s1 = np.random.randint(10, size=5)
s2 = np.random.randint(10, size=5)
s3 = np.random.randint(10, size=5)

In [4]:
pd.DataFrame(s1,s2,s3) #5 boyutluya 3 boyut verdiğimiz için hata aldık

ValueError: Shape of passed values is (5, 1), indices imply (5, 5)

In [25]:
import pandas as pd
sozluk = {"var1" : s1, "var2" : s2, "var3" : s3}
df = pd.DataFrame(sozluk)

In [26]:
df

   var1  var2  var3
0     4     0     2
1     2     7     8
2     4     2     7
3     2     4     3
4     2     1     7

In [7]:
df[0:1]

   var1  var2  var3
0     0     2     3

In [27]:
df.index = ["a","b","c","d","e"]

In [16]:
df

   var1  var2  var3
a     0     2     3
b     5     2     3
c     4     3     0
d     5     9     9
e     1     5     6

In [17]:
df[0:1]

   var1  var2  var3
a     0     2     3

In [18]:
df["c":"e"]

   var1  var2  var3
c     4     3     0
d     5     9     9
e     1     5     6

- df.drop() ile kolon veya satır silme işlemi yapabiliriz.
- axis = 1 ile kolon silme işlemi yapabiliriz.
- axis = 0 ile satır silme işlemi yapabiliriz.

In [8]:
df.drop("a",axis=0)

   var1  var2  var3
b     5     1     8
c     7     8     3
d     8     4     5
e     7     9     2

In [9]:
df       #axis kullanmamız satırı veya sütunu kalıcı olarak silmez(Bir önceki kodda kullandığımız)

   var1  var2  var3
a     7     8     8
b     5     1     8
c     7     8     3
d     8     4     5
e     7     9     2

In [10]:
df.drop("a",axis=0,inplace=True)

In [11]:
df

   var1  var2  var3
b     5     1     8
c     7     8     3
d     8     4     5
e     7     9     2

In [12]:
l ={"var1","var2","var3"}
for i in l:
    print(i in l)

True
True
True

In [28]:
df["var4"] = df["var1"] / df["var2"]
df

   var1  var2  var3      var4
a     4     0     2       inf
b     2     7     8  0.285714
c     4     2     7  2.000000
d     2     4     3  0.500000
e     2     1     7  2.000000

In [9]:
df.drop("var4",axis=1,inplace=True)
df

   var1  var2  var3
a     6     4     2
b     7     0     6
c     6     7     8
d     8     0     8
e     8     5     2

In [10]:
l = ["var1","var2"]
df.drop(l,axis=1)

   var3
a     2
b     6
c     8
d     8
e     2

### Gözlem ve Değişken Seçimi

In [29]:
m = np.random.randint(1,30,size=(10,3))
df = pd.DataFrame(m,columns= ["var1","var2","var3"])
df

   var1  var2  var3
0     9     5     4
1     8    27     8
2     9    14    22
3    17    15    23
4    25    13    19
5    28    10    28
6    23     8     9
7    13     9    29
8    22    17     1
9     4     6    16

### loc
- Tanımlandığı şekliyle seçim yapmak için kullanılır.

In [12]:
df.loc[0:3]

   var1  var2  var3
0     9    18     4
1     2    23    21
2     5    15    11
3    10    16    22

### iloc
- Alışık olduğumuz indexleme mantığıyla seçim yapmak için kullanılır.

In [13]:
df.iloc[0:3]

   var1  var2  var3
0     9    18     4
1     2    23    21
2     5    15    11

In [14]:
df.iloc[0,0]

9

In [15]:
df.iloc[:3, :2]

   var1  var2
0     9    18
1     2    23
2     5    15

In [17]:
df.loc[0:3,"var3"] #loc sondaki veriye kadar bakarken iloc sondan bir öceki veriye bakıyor.

0     4
1    21
2    11
3    22
Name: var3, dtype: int32

In [18]:
df.iloc[0:3,0:2]

   var1  var2
0     9    18
1     2    23
2     5    15

### Koşullu Eleman İşlemleri

In [34]:
df[df.var1>15]

   var1  var2  var3
3    17    15    23
4    25    13    19
5    28    10    28
6    23     8     9
8    22    17     1

In [33]:
df[df.var1%2==0]

   var1  var2  var3
1     8    27     8
5    28    10    28
8    22    17     1
9     4     6    16

In [31]:
df.loc[(df.var1 > 15) & (df.var3 < 15), "var2"]

6     8
8    17
Name: var2, dtype: int32

In [30]:
df.query("var1 > 15 & var3 < 15")

   var1  var2  var3
6    23     8     9
8    22    17     1

### Birleştirme (Join) İşlemleri

In [53]:
df2 = df + 99
df2

   var1  var2  var3
0   108   104   103
1   107   126   107
2   108   113   121
3   116   114   122
4   124   112   118
5   127   109   127
6   122   107   108
7   112   108   128
8   121   116   100
9   103   105   115

**.concat** fonksiyonu ile iki dataframe'i birleştirebiliriz. ignore_index parametresi ile indexleri sıfırlayabiliriz.
* join parametresi ile hangi kolon üzerinden birleştirileceğini belirleyebiliriz.

In [52]:
pd.concat([df,df2])

   var1  var2  var3 Çalışanlar  İlk Giriş Yılı
0   9.0   5.0   4.0        NaN             NaN
1   8.0  27.0   8.0        NaN             NaN
2   9.0  14.0  22.0        NaN             NaN
3  17.0  15.0  23.0        NaN             NaN
4  25.0  13.0  19.0        NaN             NaN
5  28.0  10.0  28.0        NaN             NaN
6  23.0   8.0   9.0        NaN             NaN
7  13.0   9.0  29.0        NaN             NaN
8  22.0  17.0   1.0        NaN             NaN
9   4.0   6.0  16.0        NaN             NaN
0   NaN   NaN   NaN      Ahmet          2021.0
1   NaN   NaN   NaN    Emirhan          2019.0
2   NaN   NaN   NaN    Berkcan          2022.0
3   NaN   NaN   NaN      Eslem          2018.0

In [37]:
pd.concat([df,df2], ignore_index=True)

    var1  var2  var3
0      9     5     4
1      8    27     8
2      9    14    22
3     17    15    23
4     25    13    19
5     28    10    28
6     23     8     9
7     13     9    29
8     22    17     1
9      4     6    16
10   108   104   103
11   107   126   107
12   108   113   121
13   116   114   122
14   124   112   118
15   127   109   127
16   122   107   108
17   112   108   128
18   121   116   100
19   103   105   115

In [54]:
df2.columns = ["var1","var2","var3"]
pd.concat([df,df2],join="inner")

   var1  var2  var3
0     9     5     4
1     8    27     8
2     9    14    22
3    17    15    23
4    25    13    19
5    28    10    28
6    23     8     9
7    13     9    29
8    22    17     1
9     4     6    16
0   108   104   103
1   107   126   107
2   108   113   121
3   116   114   122
4   124   112   118
5   127   109   127
6   122   107   108
7   112   108   128
8   121   116   100
9   103   105   115

### İleri Birleştirme İşlemleri

In [50]:
df1 = pd.DataFrame({"Çalışanlar":["Ahmet","Emirhan","Berkcan","Eslem"],
                                   "Grup": ["Koordinatör","Full Time Çalışan","Eğitim Koordinatörü","İş Geliştirme"]})
df1

  Çalışanlar                 Grup
0      Ahmet          Koordinatör
1    Emirhan    Full Time Çalışan
2    Berkcan  Eğitim Koordinatörü
3      Eslem        İş Geliştirme

In [59]:
df2 = pd.DataFrame({"Çalışanlar":["Ahmet","Emirhan","Berkcan","Eslem"],
                    "İlk Giriş Yılı" :[2021,2019,2022,2018]})
df2

  Çalışanlar  İlk Giriş Yılı
0      Ahmet            2021
1    Emirhan            2019
2    Berkcan            2022
3      Eslem            2018

### .merge()
- .merge() fonksiyonu ile birebir birleştirme işlemlerini gerçekleştirebiliriz.
- Merge komutu ile yapılan işlemleri SQL'de bulunan inner join ...'e benzetebiliriz.

In [60]:
pd.merge(df1,df2) #2 çıktıyıda görmemizi sağlar.

  Çalışanlar                 Grup  İlk Giriş Yılı
0      Ahmet          Koordinatör            2021
1    Emirhan    Full Time Çalışan            2019
2    Berkcan  Eğitim Koordinatörü            2022
3      Eslem        İş Geliştirme            2018

In [61]:
pd.merge(df1,df2,on = "Çalışanlar")

  Çalışanlar                 Grup  İlk Giriş Yılı
0      Ahmet          Koordinatör            2021
1    Emirhan    Full Time Çalışan            2019
2    Berkcan  Eğitim Koordinatörü            2022
3      Eslem        İş Geliştirme            2018

# Toplulaştırma ve Gruplama İşlemleri (Aggregation & Grouping)
### Basit Toplulaştırma İşlemleri
- count(): Eleman sayısı
- first(), median(): Ortalama ve medyan
- min(), max(): Minimum ve maksimum değer
- std(), var(): Standart sapma ve varyans
- sum(): Toplam değer

In [3]:
import seaborn as sns
df = sns.load_dataset("planets")
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [4]:
df.shape

(1035, 6)

In [5]:
df.count()

method            1035
number            1035
orbital_period     992
mass               513
distance           808
year              1035
dtype: int64

In [11]:
df.mean() #ortalamalarını vermesi gerekirken hata aldık sor bunu

TypeError: Could not convert ['Radial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingImagingImagingEclipse Timing VariationsImagingImagingImagingImagingEclipse Timing VariationsEclipse Timing VariationsEclipse Timing VariationsEclipse Timing VariationsEclipse Timing VariationsEclipse Timing VariationsEclipse Timing VariationsEclipse Timing VariationsRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingImagingImagingImagingImagingImagingImagingImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingImagingTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitAstrometryRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityTransitRadial VelocityRadial VelocityRadial VelocityImagingTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityAstrometryRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityImagingImagingImagingImagingTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransit Timing VariationsTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransit Timing VariationsTransitTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitTransit Timing VariationsTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitTransitOrbital Brightness ModulationOrbital Brightness ModulationTransitTransitTransitOrbital Brightness ModulationTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransit Timing VariationsTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitRadial VelocityTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitImagingTransitMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingRadial VelocityRadial VelocityRadial VelocityRadial VelocityMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingTransitTransitTransitTransitTransitTransitTransitTransitImagingTransitRadial VelocityRadial VelocityPulsar TimingPulsar TimingPulsar TimingPulsar TimingPulsar TimingTransitTransitImagingImagingImagingTransitTransitTransitTransitTransitTransitImagingPulsation Timing VariationsTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitImagingTransitImagingTransitTransitTransitTransitTransit'] to numeric

In [9]:
df["mass"].mean()  #mean burada çalıştı

2.6381605847953216

In [12]:
df["mass"].count()

513

In [13]:
df["mass"].min()

0.0036

In [14]:
df["mass"].max()

25.0

In [15]:
df["mass"].sum()

1353.37638

In [16]:
df["mass"].std()

3.8186166509616046

In [17]:
df["mass"].var()

14.58183312700122

In [20]:
df.describe()  #Yukarda arattığımız değerleri tablo halinde görmek için describe kullanılır.

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [21]:
df.describe().T  #Satırlar ile sütunların yerlerini değiştirir.

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [23]:
df.dropna().describe().T #Eksik olan değerleri atmamızı sağlar.

,count,mean,std,min,25%,50%,75%,max
number,498.0,1.734940,1.175720,1.0000,1.00000,1.000,2.0000,6.0
orbital_period,498.0,835.778671,1469.128259,1.3283,38.27225,357.000,999.6000,17337.5
mass,498.0,2.509320,3.636274,0.0036,0.21250,1.245,2.8675,25.0
distance,498.0,52.068213,46.596041,1.3500,24.49750,39.940,59.3325,354.0
year,498.0,2007.377510,4.167284,1989.0000,2005.00000,2009.000,2011.0000,2014.0

### Gruplama İşlemleri (Grouping)

In [24]:
df = pd.DataFrame({"gruplar":["A","B","C","A","B","C"],
                   "veri": [10,11,52,53,43,55]})

Gruplama işlemi veri setinde yer alan kategorik değişkenlerin gruplarının yakalanması ve gruplar özelinde gruplama işlemlerinin yapılması işlemidir.
- .groupby() fonksiyonu ile gruplama işlemleri yapılır.
- sum(), mean(), count(), max(), min() gibi fonksiyonlar ile gruplama işlemleri yapılır.

In [25]:
df.groupby("gruplar").mean()

         veri
gruplar
A        31.5
B        27.0
C        53.5

In [26]:
df.groupby("gruplar").sum()

         veri
gruplar
A          63
B          54
C         107

In [27]:
df = sns.load_dataset("planets")
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [28]:
df.groupby("method")["orbital_period"].mean() #method sütununu aldık ve orbital periyotlarını aldık.

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [29]:
df.groupby("method")["year"].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,2011.500000,2.121320,2010.0,2010.75,2011.5,2012.25,2013.0
Eclipse Timing Variations,9.0,2010.000000,1.414214,2008.0,2009.00,2010.0,2011.00,2012.0
Imaging,38.0,2009.131579,2.781901,2004.0,2008.00,2009.0,2011.00,2013.0
Microlensing,23.0,2009.782609,2.859697,2004.0,2008.00,2010.0,2012.00,2013.0
Orbital Brightness Modulation,3.0,2011.666667,1.154701,2011.0,2011.00,2011.0,2012.00,2013.0
Pulsar Timing,5.0,1998.400000,8.384510,1992.0,1992.00,1994.0,2003.00,2011.0
Pulsation Timing Variations,1.0,2007.000000,NaN,2007.0,2007.00,2007.0,2007.00,2007.0
Radial Velocity,553.0,2007.518987,4.249052,1989.0,2005.00,2009.0,2011.00,2014.0
Transit,397.0,2011.236776,2.077867,2002.0,2010.00,2012.0,2013.00,2014.0
Transit Timing Variations,4.0,2012.500000,1.290994,2011.0,2011.75,2012.5,2013.25,2014.0

# İleri Toplulaştırma İşlemleri (Advanced Aggregation)

In [31]:
df = pd.DataFrame({"gruplar":["A","B","C","A","B","C"],
                   "degisken1": [10,23,33,22,11,99],
                   "degisken2": [100,252,333,262,111,969
                                ]})
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        252
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

.aggregate() fonksiyonu ile toplulaştırma işlemleri yapılır.

In [32]:
df.groupby("gruplar").aggregate(["min", np.median,max])

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10   16.0  22       100  181.0  262
B              11   17.0  23       111  181.5  252
C              33   66.0  99       333  651.0  969

In [33]:
df.groupby("gruplar").aggregate({"degisken1": "min", "degisken2": "max"})

         degisken1  degisken2
gruplar
A               10        262
B               11        252
C               33        969

In [34]:
def filter_func(x):
    return x["degisken1"].std()>9
df.groupby("gruplar").filter(filter_func)

  gruplar  degisken1  degisken2
2       C         33        333
5       C         99        969

## Transform
- Verileri dönüştürmek için kullanılcak işlev.

In [35]:
dfa = df.iloc[:,1:3]
dfa.transform(lambda x : x -x.mean()) #Ortalamaları verdi ve ortalamaları x den çıkardı.

   degisken1   degisken2
0      -23.0 -237.833333
1      -10.0  -85.833333
2        0.0   -4.833333
3      -11.0  -75.833333
4      -22.0 -226.833333
5       66.0  631.166667